.gokus {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
nav .goku {
    display: inline-flex;
    margin: 0 15px;
    background-color: #2d2d2d;
    margin: 20px 0;
}
.goku1 li {
    padding: 10px;
    color: #ffffff;
}
.goku {
    list-style: none;
}
nav 
    {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.goku .papu {
    padding: 20px;
}
.boludo {
    color:gold;
}
a {
    color: #00d9ff;
}